<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Elaborapp Co., Ltd.</string>
	<key>Builder Version</key>
	<string>12602.4.8</string>
	<key>CFBundleDisplayName</key>
	<string>IMZh</string>
	<key>CFBundleIdentifier</key>
	<string>com.elaborapp.IMZh.Safari</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>Global.html</string>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>lib/cache.js</string>
				<string>lib/chart.js</string>
				<string>lib/parser.js</string>
				<string>lib/title.js</string>
			</array>
			<key>Start</key>
			<array>
				<string>Injected.js</string>
			</array>
		</dict>
		<key>Whitelist</key>
		<array>
			<string>http://www.imdb.com/title/*</string>
			<string>https://www.imdb.com/title/*</string>
			<string>http://www.imdb.com/chart/*</string>
			<string>https://www.imdb.com/chart/*</string>
		</array>
	</dict>
	<key>Description</key>
	<string>IMZh is a localization tool to translate IMDb movie name to Chinese</string>
	<key>DeveloperIdentifier</key>
	<string>SE9N6X5V7C</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>*.imdb.com</string>
				<string>*.wikipedia.org</string>
			</array>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>https://github.com/ethanhuang13/IMZh</string>
</dict>
</plist>
